table{
    border: none;
    margin: auto;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 80px;
    height: 90px;
}
p{
    text-align: center;
}
p>span{
    font-weight: bold;
}
h1{
    text-align: center;
}